.input-group {
    width: 100%;
}

#modal-alert {
    margin-bottom: 0px;
}

#tag-list {
    display: flex;
    flex-wrap: wrap;
}

.tag-container {
    padding: 3px 3px 6px 12px;
    margin: 0px 10px 10px 0px;
    font-size: 14px;
    line-height: 1.42857143;
    color: white;
    background-color: #4285f4;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,.25);
}

#close-icon {
    padding-top: 3px;
    line-height: 0px;
    font-size: 13px;
    text-align: end;
    font-weight: 500;
    padding-right: 1px;
    font-family: sans-serif;
}

#close-icon:hover {
    cursor:pointer;
}

#tag-text {
    padding-right: 9px;
}

#help-block {
    overflow-wrap: break-word;
}
