.panel {
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,.25);
}

.panel-body {
    display: flex;
}

.user-preferences-section > div > h2 {
    margin-top: 0px;
}

.user-preferences-section > div > h3 {
    margin-top: 15px;
}

.user-content {
    flex-direction: column;
    width: 100%;
    padding-left: 15px;
    /* TODO: Eventually remove scroll behavior in favor of masonry layout. */
    max-height: 127px;
    overflow-y: scroll;
}

.user-content::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 5px;
}

.user-content::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

div.user-name-section {
    margin: 0px;
}

div.user-name-section > h2 {
    margin: 0px;
}

div.user-name-section > div {
    display: flex;
    align-self: center;
}

.user-preferences-section {
    display: flex;
    justify-content: space-between;
}

.user-preferences-section > div {
    padding: 0px 15px 0px 15px;
}

#tags {
    display: flex;
    flex-wrap: wrap;
}

.user-image {
    max-width: 75px;
    max-height: 75px;
}

a.icon-bubbles {
    color: #333;
}

.user-name-section {
    display: flex;
    margin-top: 20px;
}

.user-image-section {
    display: flex;
    flex-direction: column;
}

/* TODO: Eventually remove scroll behavior in favor of masonry layout. */
@media only screen and (max-width: 991px) {
    .user-content {
        max-height: 500px;
    }
}

@media only screen and (max-width: 500px) {
    .panel-body {
        flex-direction: column;
    }

    .user-image-section {
        flex-direction: row;
        padding-bottom: 15px;
    }

    .user-image-section > img {
        margin-right: 15px;
    }

    .user-content {
        padding-left: 0px;
    }
}
