.panel {
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,.25);
}

.panel-body {
    display: flex;
}

.user-preferences-section > div > h2 {
    /*margin-top: 0px;*/
}

.user-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 15px;
}

div.user-name-section {
    margin: 0px;
}

div.user-name-section > h1 {
    margin: 0px;
}

div.user-name-section > div {
    display: flex;
    align-self: center;
}

.user-preferences-section {
    display: flex;
    justify-content: space-between;
}

.user-preferences-section > div {
    width: 50%;
    padding: 0px 20px 0px 20px;
}

#tags {
    display: flex;
    flex-wrap: wrap;
}

.user-image {
    max-width: 75px;
    max-height: 75px;
}

.user-name-section {
    display: flex;
    margin-top: 20px;
}

.user-image-section {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 500px) {
    .panel-body {
        flex-direction: column;
    }

    .user-image-section {
        flex-direction: row;
        padding-bottom: 15px;
    }

    .user-image-section > img {
        margin-right: 15px;
    }

    .user-content {
        padding: 0px;
    }
}

@media only screen and (max-width: 400px) {
    .user-preferences-section {
        flex-direction: column;
    }

    .user-preferences-section > div {
        width: 100%;
    }
}
